# Exclude node modules
node_modules

# Exclude the compiled project
dist/*

# Include the demo_assets folder
!dist/demo_assets/

# Include the built-in asset folder
!dist/builtin/

#include html files
!dist/html_files/

#include final project assets
!dist/final project assets/

#include pdf_assets
!dist/pdf_assets/

#this is the bundle.js for benchmark2
!dist/bundle_benchmark2.js


### IF YOU ARE MAKING A PROJECT, YOU MAY WANT TO UNCOMMENT THIS LINE ###
# !dist/assets/

